.wrapper {
  width: 100%;
  position: relative;
}

.list {
  position: absolute;
  top: -9px;
  left: 50%;
  background: #F7F7F7;
  transform: translate(-50%, -100%);
  list-style: none;
  max-width: 200px;
  width: 117px;
  box-sizing: border-box;
  padding: 7px 5px;
  box-shadow: 0 1px 7px rgba(0, 0, 0, 0.11);
  border-radius: 2px;
  z-index: 2;
}

.item {
  text-align: right;
  font-size: 15px;
  padding: 5px 17px;
  color: rgba(0, 0, 0, 0.4);
  cursor: pointer;
  position: relative;
  font-weight: 600;
}

.item:before {
  content: "";
  display: block;
  position: absolute;
  width: 13px;
  height: 13px;
  background: rgba(0, 0, 0, 0.13);
  border-radius: 50%;
  left: 7px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.itemActive {
  color: #7CAAFF;
}

.itemActive.item:before {
  background: #7CAAFF;
}

.SelectBtn {
  text-align: center;
  width: 100%;
  box-sizing: border-box;
  cursor: pointer;
  padding: 5px;
  background: #F7F7F7;
  border-radius: 3px;
  box-shadow: 0 1px 7px rgba(0, 0, 0, 0.11);
  width: 117px;
  margin: 0 auto 17px auto;
  position: relative;
}

.SelectBtn:before {
  content: "❯";
  position: absolute;
  color: rgba(0, 0, 0, 0.17);
  font-weight: 900;
  font-size: 13px;
  left: 50%;
  top: 50%;
  transform: translate(-43px, -50%) rotate(-90deg);
}

.value {
  display: block;
  padding: 1px;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.47);
  font-weight: 700;
}