.wrapper {
  width: 100%;
  position: relative;
}

.list {
  position: absolute;
  top: -2px;
  left: 50%;
  background: #F2F5F7;
  transform: translate(-50%, -100%);
  list-style: none;
  max-width: 200px;
  width: 95%;
  box-sizing: border-box;
  padding: 7px 5px;
  box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
}

.item {
  text-align: right;
  font-size: 15px;
  padding: 5px 17px;
  color: rgba(0, 0, 0, 0.4);
  cursor: pointer;
  position: relative;
}


.item:before {
  content: '';
  display: block;
  position: absolute;
  width: 13px;
  height: 13px;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.35);
  border-radius: 50%;
  left: 7px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.itemActive {
  color: #31ADF9;
}

.itemActive.item:before {
  border: 1px solid #31ADF9;
}

.itemActive:after {
  content: '';
  display: block;
  position: absolute;
  width: 13px;
  height: 13px;
  box-sizing: border-box;
  background: #31ADF9;
  border: 3px solid #EDF3F7;
  border-radius: 50%;
  left: 7px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 0;
}

.SelectBtn {
  text-align: center;
  width: 100%;
  box-sizing: border-box;
  cursor: pointer;
  padding: 11px;
}


.SelectBtn:before {
  content: "❯";
  position: absolute;
  color: rgba(0, 0, 0, 0.4);
  font-size: 10px;
  left: 50%;
  top: 50%;
  transform: translate(-43px, -50%) rotate(-90deg);
}

.label,
.value {
  display: block;
  padding: 1px;
}

.label {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.6);
}

.value {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.4);
  color: #31ADF9;
}