.modalCard {
  width: 87%;
  max-width: 500px;
  height: auto;
  background: #fff;
  border-radius: 7px;
  position: absolute;
  z-index: 10;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 11px rgba(0, 0, 0, 0.17);
  padding: 20px 20px 25px 20px;
  box-sizing: border-box;
  transition: all 0.21s ease-out;
}

.modalTitle {
  text-align: left;
  font-size: 19px;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 500;
  line-height: 17px;
  padding-bottom: 11px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.04);
  margin-bottom: 17px;
}

.modalContent {
  text-align: left;
  font-size: 17px;
}
