.CityInput::placeholder {
  color: rgba(255, 255, 255, 0.85);
}

.SearchBtn {
  border: none;
  position: relative;
  left: 50%;
  transform: translateX(81px);
  outline: none;
  cursor: pointer;
  width: 44px;
  height: 38px;
  background: url(../../assets/search.svg);
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: 0% center;
  opacity: 0.69;
  filter: invert(1);
  border-radius: 7px;
}
