.CityInput::placeholder {
  color: rgba(255, 255, 255, 0.85);
}

.SearchBtn {
  background: transparent;
  border: none;
  color: rgba(255, 255, 255, 0.7);
  width: 30px;
  line-height: 30px;
  position: relative;
  left: 50%;
  transform: translate(81px, 3px);
  outline: none;
  cursor: pointer;
  width: 28px;
  height: 28px;
  background: url(../../assets/search.svg);
  background-size: cover;
  opacity: 0.69;
  filter: invert(1);
}