.Hamburger {
  display: inline-block;
  width: 29px;
  height: 13px;
  margin: 17px 13px 9px 13px;
  cursor: pointer;
  position: relative;
}

.Hamburger:before,
.Hamburger:after {
  content: '';
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: rgba(255, 255, 255, 0.7);
  left: 0;
  border-radius: 10px;
}

.Hamburger:before {
  top: 0;

}

.Hamburger:after {
  bottom: 0;
}