.CityInput::placeholder {
  color: rgba(255, 255, 255, 0.85);
}

button {
  background: transparent;
  border: none;
  color: rgba(255, 255, 255, 0.7);
  font-size: 30px;
  width: 30px;
  line-height: 30px;
  border-radius: 50%;
  position: relative;
  left: 50%;
  transform: translate(83px, 3px) rotate(-45deg);
  outline: none;
}