.App {
  background: transparent;
  margin: 0;
  /* padding: 20px; */
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.App:before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: url('./assets/background.png');
  /* background: #87B1BC; */
  background-size: cover;
  transform: scale(1.1);
  filter: blur(15px) brightness(80%);
  z-index: -2;
}